.clear{
	clear:both;
}

/*** Options Box ***/
.mcqueen-options-box{
    border:1px solid #cccccc;
    border-radius:3px;
    margin-top:10px;
	width:800px;
}

/*** Header ***/
.mcqueen-options-box .header{
    background:#dfdfdf;
    border-bottom:1px solid #cccccc;
    padding:0 20px;
    height:60px;
}
.mcqueen-options-box .header .title{
    padding:22px 0 0 0;
    margin:0;
    line-height:1;
    font-size:22px;
    font-weight:normal;
    text-shadow:#fff 0 1px 0;
}

/*** Sidebar ***/
.mcqueen-options-box .sidebar{
    float:left;
    width:161px;
	min-height:600px;
}

/*** Body ***/
.mcqueen-options-box .body{
	background:url(../images/bg-sidebar.png) repeat-y 1px 0;
}

/*** Nav ***/
.mcqueen-options-box .nav{
    padding:15px 0;
    margin:0;
}
.mcqueen-options-box .nav li{
    line-height:normal;
    margin:0;
}
.mcqueen-options-box .nav a{
    display:block;
    text-decoration:none;
    color:#797979;
    font-size:13px;
    border-bottom:1px solid #d8d8d8;
    padding:10px 10px 10px 15px;
    
}
.mcqueen-options-box .nav .current a,
.mcqueen-options-box .nav a:hover{
    background:#fff;
    color:#21759b;
}

/*** Content ***/
.mcqueen-options-box .content{
    float:left;
    width:600px;
    padding:15px;
}

/*** Footer ***/
.mcqueen-options-box .footer{
    padding:10px 20px;
    background:#f3f3f3;
    border-top:1px solid #cccccc;
}
.mcqueen-options-box .footer .button{
    float:left;
}
.mcqueen-options-box .footer .button-primary{
    float:right;
}

/*** Font Assignments ***/
.mcqueen-options-box .nav{
    font-family:Georgia,serif;
}

/*** Fields ***/
.mcqueen-field{
	margin-bottom:10px;
}
.mcqueen-field-header{
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding:7px 0 9px 0;
	border-bottom:1px solid #e7e7e7;
	margin-bottom:10px;
}
.mcqueen-field-content{
	float: left;
	width: 345px;
	margin: 0 15px 0 0;
}
.mcqueen-field-colorpicker .mcqueen-field-content{
	min-width: 125px;
	max-width: 345px;
	width:auto;
}
.mcqueen-field-checkbox .mcqueen-field-content{
	width: 25px;
}
.mcqueen-field-checkbox .mcqueen-field-note{
	width: 500px;
}

.mcqueen-field-note{
	float: left;
	width: 225px;
	padding: 0 10px 0 0;
	font-size: 11px;
	color: #999;
}
.mcqueen-field-note p{
	padding-top:0;
	margin-top:0;
}
.mcqueen-field input[type="text"],
.mcqueen-field textarea{
	width:340px;
	margin:0 0 10px 0;
	background-color: #F1F1F1;
	border: 1px solid;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
	width: 340px;
	padding: 4px;
	font-size: 12px;
}
.mcqueen-field input[type="text"]:focus,
.mcqueen-field textarea:focus{
	background:#fff;
}

.mcqueen-field textarea{
	min-height:128px;
}

/*** Upload ***/
.mcqueen-field-upload input[type="text"]{
	width:280px;
	float:left;
}
.mcqueen-field-upload input[type="button"]{
	float:right;
	padding:0 5px;
}
.mcqueen-field-upload img{
	padding:4px;
	max-width:150px;
	border:1px solid #ccc;
	border-radius:3px;
}
.mcqueen-field-upload .thumb-delete{
	display:block;
	width:16px;
	height:16px;
	background: url(../images/icon-delete.png) no-repeat;
	position:absolute;
	bottom:0px;
	left:-5px;
	cursor:pointer;
}
.mcqueen-field-upload .thumb-preview {
	position:relative;
	clear:both;
}

/*** Images ***/
.mcqueen-images{
	padding:10px 0;
	clear:both;
}
.mcqueen-images .thumb{
	float:left;
	margin:0 5px 5px 0;
	position:relative;
}
.mcqueen-images .thumb-delete{
	display:block;
	width:16px;
	height:16px;
	background: url(../images/icon-delete.png) no-repeat;
	position:absolute;
	bottom:0px;
	left:-5px;
	cursor:pointer;
}

/*** Groups ***/
.mcqueen-group:first-child{
	display:block;
}
.mcqueen-group{
	display:none;
}

/*** Select ***/
.mcqueen-field select{
	margin-bottom: 10px;
	background-color: #F1F1F1;
	border: 1px solid;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
	width: 340px;
	padding: 0 0 0 4px;
	font-size: 12px;
}
.mcqueen-field select:focus{
	background:#fff;
}